body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: #FFE9AA;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

.admin-container {
    text-align: center;
}

.admin-table {
    width: 90%;
    border: 1px solid;
    margin: auto;
}

.content-container{
    text-align: center;

}
.edit-box{
    border: 1px solid black;
    text-align: center;
    width: 80%;
    display: inline-block;
    margin: 3px;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

.submit-view {
    text-align: center;
    

}

.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

a:link{
    color: black;
}
a:visited {
    color: black;
}

tbody > tr:nth-child(odd) {
    background-color: #FFE28c;
}

textarea {
    max-width: 400px;
    width: 80%;
    height: 200px;
    padding: 10px;
    margin: 10px;
}

.modal{
    width: 90%;
    height: 70%;
    background-color: #FFF8E8;
    border: 1px solid white;
    box-shadow: 4px 4px 7px rgba(0,0,0,0.2) ;
    position: absolute;
    z-index: 6;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 30%;
    margin-right: 5%;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

.modal-content{
    text-align: center;
}

.modal-title {
    font-family: 'Yesteryear', cursive;
    font-size: 2em;
    text-align: center;
}

.btn-exit-modal{
    float: right;
}

.map-marker {
    color: #f34213
}

.filter-buttons {
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 5;
    line-height: 10px;
}

.mui-buttons {
    background-color: white;
    z-index: 5;
}

.checkbox-div {
    display: inline;
    text-align: center;
    width: 100px;
}

.suggest-input {
    max-width: 400px;
    width: 80%;
}

.user-pin {
    width: 20px;
    height: 20px;
    text-shadow: 3px, 3px;
    color: #0582CA;
}

.map-spacer{
    height: 65px;
}

.admin-list-spacer{
    height: 70px;
}

.silverware{
    padding: 20px;
}