.nav-title {
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    color: ##000000;
    padding-left: 10px;
}

.nav {
  overflow: hidden;
  background-color: #FFE9AA;
  box-shadow: 5px 5px black;
  z-index: 6;
}

.nav-link {
  font-family: Helvetic, sans-serif;
  float: left;
  color: ##000000;
  background-color: ##FFE9AA;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #FFE28C;
}

.nav-right {
  float: right;
}

.nav-logo {
  height: 25%;
  max-height: 35px;
  align-self: center;
  padding-top: 15px;
  padding-left: 14px;
}